<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="card-box">
        <h4 class="m-t-0 m-b-30 header-title">
          <a href="javascript:void(0);" [routerLink]="['/admin/users']" class="btn btn-default btn-sm m-l-5">
            <i class=" ti-arrow-left"></i>
          </a>
          <b class=" m-l-5">Create User</b>
        </h4>
        
        
        <div>
          <li *ngFor="let error of backendModelStateErrors" style="color:brown">{{ error }}</li>
        </div>

        <form class="form-horizontal group-border-dashed" [formGroup]="userForm"  (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="col-lg-6">
                            
              <div class="form-group" [ngClass]="{
                'has-error': f.Email.invalid && f.Email.dirty,
                'has-success': f.Email.valid && f.Email.dirty
              }">
                <label class="col-sm-3 control-label">E-Mail<span style="color:crimson"> *</span></label>
                <div class="col-sm-8">
                  <input type="email" formControlName="Email" class="form-control" required placeholder="Enter a valid e-mail" />
                  <span 
                    class="text-danger" 
                    *ngIf="f.Email.dirty 
                        && f.Email.errors 
                        && f.Email.errors.required">Email is required </span>
                </div>
              </div>
  
              <div class="form-group" [ngClass]="{
                'has-error': f.PhoneNumber.invalid && f.PhoneNumber.dirty,
                'has-success': f.PhoneNumber.valid && f.PhoneNumber.dirty
              }">
                <label class="col-sm-3 control-label">Phone No</label>
                <div class="col-sm-8">
                  <input type="text" formControlName="PhoneNumber" class="form-control" placeholder="Phone Number" />
                  <span 
                    class="text-danger" 
                    *ngIf="f.PhoneNumber.dirty 
                        && f.PhoneNumber.errors 
                        && f.PhoneNumber.errors.maxLength">Max length is 11 digit.</span>
                </div>
              </div>

            </div>
            
            <div class="col-lg-6">      

              <div class="form-group" [ngClass]="{
                'has-error': f.Password.invalid && f.Password.dirty,
                'has-success': f.Password.valid && f.Password.dirty
                }">
                <label class="col-sm-3 control-label">Password<span style="color:crimson"> *</span></label>
                <div class="col-sm-8">
                  <input type="password" formControlName="Password" class="form-control" required placeholder="Password" />
                  <span 
                    class="text-danger" 
                    *ngIf="f.Password.dirty 
                        && f.Password.errors 
                        && f.Password.errors.required">Password is required </span>
                  <span 
                    class="text-danger" 
                    *ngIf="f.Password.dirty 
                      && f.Password.errors 
                      && f.Password.errors.pattern">Password should be at least 6 characters long and should contain one number,one character and one special character.</span>
                </div>
              </div>

              <div class="form-group" [ngClass]="{
                'has-error': f.ConfirmPassword.invalid && f.ConfirmPassword.dirty,
                'has-success': f.ConfirmPassword.valid && f.ConfirmPassword.dirty
                }">
                <label class="col-sm-3 control-label">Confirm Password<span style="color:crimson"> *</span></label>
                <div class="col-sm-8">
                  <input type="password" formControlName="ConfirmPassword" class="form-control" required placeholder="Confirm Password" />
                  <span 
                    class="text-danger" 
                    *ngIf="f.ConfirmPassword.dirty 
                      && f.ConfirmPassword.errors 
                      && f.ConfirmPassword.errors.required">Confirm password is required
                  </span>  
                  <span 
                    class="text-danger" 
                    *ngIf="f.Password.valid && f.ConfirmPassword.dirty  && userForm.errors?.invalid">Password doesn't match</span> 
                </div>
              </div>
              
            </div>

          </div>
  
          <div class="row">
            <div class="form-group" style="float: right; margin-right: 6em;">
              <div class="m-t-15" >

                <!-- <button type="button" class="btn btn-warning m-l-5" (click)="navigateToUsersPage()">
                  <i class=" ti-arrow-left"></i>
                </button> -->

                <button type="submit" class="btn btn-primary m-l-5">
                  SUBMIT
                </button>
                <button type="reset"  class="btn btn-default m-l-5">
                  RESET
                </button>
              </div>
            </div>
          </div>      
        </form>
                
      </div>
    </div>
  </div>
</div>
