<!-- Begin page -->
<div id="wrapper">

  <app-topbar></app-topbar>

  <app-left-side-menu></app-left-side-menu>

<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="content-page">
    <!-- Start content -->
    <div class="content">

        <!-- Breadbrumb -->
        <app-breadcrumb></app-breadcrumb>
                        

        <router-outlet >
        </router-outlet>
        
    </div> <!-- content -->



    <app-footer></app-footer>

</div>



  <!-- ============================================================== -->
  <!-- End Right content here -->
  <!-- ============================================================== -->
  <app-right-side-bar></app-right-side-bar>


</div>
<!-- END wrapper -->